body {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    background: linear-gradient(#E6B00E, #906018);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

h1 {
    font-size: 45px;
}

#bff-img {
    width: 180px;
    border-radius: 50%;
    border: 6px solid #fff;
    margin-bottom: 10px;
}

#bday-quote {
    background: #fff;
    padding: 15px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
    width: 460px;
    font-weight: 400;
    font-size: 20px;
    color: #180000;
}

#header {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-dance {
    height: 200px;
    background-position: 25% 0%;
}

#gift-img-memories {
    height: 250px;
    background-position: 25% 60%;
    background-repeat: no-repeat;
}

.gift-img {
    margin: 20px auto;
    max-width: 500px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-memories:hover, #gift-img-memories:active {
    background-image: url("images/Laughing.gif");
}

#gift-img-tough:hover, #gift-img-tough:active {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcHN4MTBsNTFlMWRtYjlyNGc1b3EzbDR4OXVxYTBscms3ajlqamJ3OSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/y9gcCOXpNX8UfZrp0X/giphy-downsized.gif");
}

#gift-img-sleep:hover, #gift-img-sleep:active {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeHc0Zm80Z3E2ZGducHIzZGl4czh0bXdkMnY3aTNsYjF6Z3o5anFuMyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/lJnAXeJO8tE7E37mxq/giphy.gif");
}

#gift-img-frustrated:hover, #gift-img-frustrated:active {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYWVkcHpxY2Z3bXhpMzd2YWJuejAzNm5hNDV6c2Z5bTV0c3NpeHlybCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/giVvDFs5deYrKCKpD4/giphy-downsized.gif");
}

#gift-img-elated:hover, #gift-img-elated:active {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnBmYW9lODJrcjA4enZoaDJmeG93bm4ya2g5MWt3am8xMjBieHAzZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ihBQKvIE7gLEA/giphy.gif");
}

#gift-img-fulfilled:hover, #gift-img-fulfilled:active {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNW81azBuaHQ3bHEybTU2YmwzMzJkbnY0dG8ydmkxc2Nmc2Q4MXh1NyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6FrujVG4mafRETQTal/giphy-downsized.gif");
}

#gift-img-coronation:hover, #gift-img-coronation:active {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOXB2MmJscjk4OGgzN3l3dnJ1NjljemwydTIzcDdnMnFiamQ2ZzljcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/okLCopqw6ElCDnIhuS/giphy-downsized.gif");
}

#gift-img-dance:hover {
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTRtY3diNmdxNXowZDBnZ2t1ZGhvYWh2aThwZmR3ejdia3ltbmszaCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/r4SG84QtRlW0g/giphy.gif");
}

#footer {
 /*   font-style: italic;*/
    width: 400px;
    margin: 40px auto 20px;
}

#footer span {
    text-decoration: line-through;
}

a {
    color: white;
}